version: "3.9"

services:
  web:
    build: ./web/
    container_name: miweb-node
    ports:
      - "3000:3000"
    volumes:
      - ./web:/web   # Solo para desarrollo
      - /web/node_modules
    depends_on:
      - api
      - mongo

  api:
    build: ./api/
    container_name: isaac-api
    ports:
      - "8000:8000" 
    environment:
      - MONGO_URI=${MONGO_URI}
      - DB_NAME=${DB_NAME}
      - COLLECTION_NAME=${COLLECTION_NAME}
    depends_on:
      - mongo

  mongo:
    build: ./mongo/
    container_name: mi-mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
